<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết tuyển dụng</title>
</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class="social">
                    <a href="#" class="social-item">
                        <img src="./assets/images/header/fb.png" alt="" class="social-img">
                    </a>
                    <a href="#" class="social-item">
                        <img src="./assets/images/header/you.png" alt="" class="social-img">
                    </a>
                    <a href="#" class="social-item">
                        <img src="./assets/images/header/inta.png" alt="" class="social-img">
                    </a>
                </div>
                <div class="header__mobile-list mobile ">
                    <!-- Cấu trúc html menu -->
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item active">
                            <a href="" class="menu-link ">
                                <i class="fa-solid fa-house"></i>
                                Về chúng tôi
                            </a>
                        </li>
                        <li class="menu-item dropdown">

                            <a href="#" class="menu-link">
                                <i class="fa-solid fa-diagram-project"></i>
                                Dự án
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="#" class="menu-link">
                                        Dự án 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="#" class="menu-link">
                                        Dự án 2
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-handshake"></i>
                                Hợp tác
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-city"></i>
                                Tuyển dụng
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-newspaper"></i>
                                Tin tức
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-phone"></i>
                                Liên hệ
                            </a>
                        </li>
                    </ul>

                    <ul class="menu-list">
                        <li class="menu-item current-menu-item active">
                            <a href="" class="menu-link ">
                                <i class="fa-solid fa-question"></i>
                                Hỗ trợ
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-toolbox"></i>
                                Công cụ
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-gear"></i>
                                Cài đặt
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                Đăng nhập
                            </a>
                        </li>

                    </ul>
                    <ul class="menu-social">
                        <li class="menu-social-item">
                            <a href="" class="menu-social-link"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="menu-social-item">
                            <a href="" class="menu-social-link"><i class="fa-brands fa-tiktok"></i></a>
                        </li>
                        <li class="menu-social-item">
                            <a href="" class="menu-social-link"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li class="menu-social-item">
                            <a href="" class="menu-social-link"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <a href="" class="header__logo">
                    <img src="./assets/images/header/logoheader.png" alt="">
                </a>
                <div class="header__list-btn">
                    <button class="header__btn-flag">
                        <div class="header__flag-main">
                            <div class="header__flag-img">
                                <img src="./assets/images/header/flag-vn.png" alt="">
                            </div>
                            <span>VN</span>
                            <!-- <i class="fa-solid fa-chevron-down"></i> -->
                        </div>
                        <div class="header__fag-list">
                            <div class="header__flag-item">
                                <div class="header__flag-img">
                                    <img src="./assets/images/header/flag-vn.png" alt="">
                                </div>
                                <span>VN</span>
                            </div>
                            <div class="header__flag-item">
                                <div class="header__flag-img">
                                    <img src="./assets/images/header/flag-en.png" alt="">
                                </div>
                                <span>EN</span>
                            </div>
                            <div class="header__flag-item">
                                <div class="header__flag-img">
                                    <img src="./assets/images/header/flag-en.png" alt="">
                                </div>
                                <span>EN</span>
                            </div>
                        </div>
                    </button>
                    <div class="search-body">
                        <button class="header__search-mobile"><i
                                class="btn-search-mobile fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div class="search-main search-moblie">
                            <input type="search" class="search-inputMoblie" placeholder="Tim kiếm...">
                            <a href="#"> <i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                    <button class="header__btn-showMenuMb" aria-label="MenuMb">
                        <svg viewBox="0 0 100 100">
                            <path class="line line1"
                                d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                            <path class="line line2" d="M 20,50 H 80" />
                            <path class="line line3"
                                d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                        </svg>
                    </button>

                </div>
                <div class="mobile-overlay overlay"></div>
            </div>
            <div class="header__mid">
                <div class="header-nav">
                    <div class="menu-nav">
                        <!-- Cấu trúc html menu -->
                        <ul class="menu-list">
                            <li class="menu-item current-menu-item">
                                <a href="" class="menu-link ">
                                    Về chúng tôi
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" class="menu-link">
                                    Dự án
                                </a>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Dự án 1
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">
                                            Dự án 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Hợp tác
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Tin tức
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Liên hệ
                                </a>
                            </li>

                        </ul>
                        <div class="search-body">
                            <button class="header__search"><i class="fa-solid fa-magnifying-glass"></i>

                            </button>
                            <div class="search-pc search-main">
                                <input type="search" class="search-inputMoblie" placeholder="Tim kiếm...">
                                <a href="#"> <i class="fa-solid fa-magnifying-glass"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <main class="main main-detail">
        <!-- <img class="main-img" src="./assets/images/detail/main.png" alt=""> -->
        <section class="section-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="">Xây dựng chiến lược và phân tích nội dung</a></li>
                </ul>
            </div>
        </section>
        <!-- body -->
        <section class="section-detail-body">
            <div class="container mb-56">
                <div class="detail-body">
                    <div class="detail-title">
                        <a href="#" class="detail-new detail-imgUsed">
                            <img class="" src="./assets/images/detail/new.png" alt="">
                        </a>
                        <h1 class="t-title-second ">Xây dựng chiến lược và phân tích nội dung</h1>
                        <a href="#" class="detail-like detail-imgUsed">
                            <img class="" src="./assets/images/detail/like.png" alt="">
                        </a>
                    </div>
                    <a href="#" class="detail-img detail-img1">
                        <img src="./assets/images/detail/detailService.png" alt="">
                    </a>
                    <div class="detaillist-text">
                        <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang
                            phục
                            vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn
                            từ
                            những năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản
                            mẫu
                            văn bản. Đoạn văn bản này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học
                            văn
                            phòng, nội dung của nó vẫn không hề bị thay đổi. Nó đã được phổ biến trong những năm 1960
                            nhờ
                            việc bán những bản giấy Letraset in những đoạn Lorem Ipsum, và gần đây hơn, được sử dụng
                            trong
                            các ứng dụng dàn trang, như Aldus PageMaker.</p>
                        <br>
                        <p> Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và
                            cản
                            trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn
                            bản
                            chỉ gồm nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn,
                            bình
                            thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem
                            Ipsum
                            làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra
                            nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất
                            hiện, đôi khi do vô tình ứng dụng dàn trang, như Aldus PageMaker.</p>
                    </div>
                    <a href="#" class="detail-img detail-img2">
                        <img src="./assets/images/detail/detailService1.png" alt="">
                    </a>
                    <a href="#" class="detail-img detail-img3">
                        <img src="./assets/images/detail/detailService2.png" alt="">
                    </a>
                    <div class="detail-social">
                        <p class="detail-text">Chia sẻ bài viết</p>
                        <div class="social">
                            <a href="#" class="social-item">
                                <img src="./assets/images/header/fb.png" alt="" class="social-img">
                            </a>
                            <a href="#" class="social-item">
                                <img src="./assets/images/header/you.png" alt="" class="social-img">
                            </a>
                            <a href="#" class="social-item">
                                <img src="./assets/images/header/inta.png" alt="" class="social-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- body -->

        <!-- poster -->
        <section class="section-poster">
            <div class="container mb-56">
                <div class=" detail-poster">
                    <a href="#" class="imgYou img-decorUsed">
                        <img class="" src="./assets/images/detail/you.png" alt="">
                    </a>

                    <a href="#" class="imgshareBig img-decorUsed">
                        <img class="" src="./assets/images/detail/share.png" alt="">
                    </a>
                    <div class="poster mb-56">
                        <div class="slogan">
                            <div class="slogan__img">
                                <img src="./assets/images/main/logoposter.png" alt="">
                            </div>
                            <h3 class="t-title-third">Hãy để chúng tôi đồng hành
                                cùng những dự án của bạn</h3>
                        </div>
                        <div class="poster__right">
                            <div class="poster__img ">
                                <div class="btncol">
                                    <button class="btn-post btn-post1">KHÁM PHÁ THÊM </button>
                                </div>
                                <div class="poster-human ">
                                    <img src="./assets/images/main/human.png" alt="">
                                </div>
                                <div class="poster-line"></div>
                                <div class="btncol">
                                    <button class="btn-post btn-post2">LIÊN HỆ NGAY </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="imgshareSmall img-decorUsed">
                        <img class="" src="./assets/images/detail/share.png" alt="">
                    </a>
                </div>
            </div>
        </section>
        <!-- poster -->
    </main>
    <!-- footer -->
    <footer class="footer">
        <div class="container ">
            <div class="footer-main row">
                <!-- footer left -->
                <div class="footer__left col col-4">
                    <div class="footer__left-top mb-40">
                        <div class="footer__left-contact">
                            <a href="" class="footer__left-contactLink">
                                <p>hr@1steper.com</p>
                            </a>
                            <a href="" class="footer__left-contactLink">
                                <p>(+84) 981055524</p>
                            </a>
                        </div>
                        <a href="" class="arrowup">
                            <img src="./assets/images/footer/up-right-arrow 1.png" alt="">
                        </a>
                    </div>
                    <p class="t-16 mb-10">Theo dõi chúng tôi</p>
                    <div class="social mb-10">
                        <a href="#" class="social-item">
                            <img src="./assets/images/header/fb.png" alt="" class="social-img">
                        </a>
                        <a href="#" class="social-item">
                            <img src="./assets/images/header/you.png" alt="" class="social-img">
                        </a>
                        <a href="#" class="social-item">
                            <img src="./assets/images/header/inta.png" alt="" class="social-img">
                        </a>
                    </div>
                    <a href="#" class="fanpage">
                        <img src="./assets/images/footer/fanpageft.png" alt="">
                    </a>
                </div>
                <!-- footer left -->
                <!-- footer mid -->
                <div class="footer__mid col col-4">
                    <h3 class="t-16 mb-10">Thông tin công ty</h3>
                    <ul class="mb-56">
                        <li class="mb-10">
                            <a href="" class="location">
                                <i class="fa-solid fa-location-dot"></i>
                                <p class="t-14">324/15 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="phone">
                                <img src="./assets/images/footer/tax1.svg" alt="">
                                <p class="t-14">0903 380 228</p>
                            </a>
                        </li>
                    </ul>
                    <a href="" class="footer__logo">
                        <img src="./assets/images/footer/logoft.png" alt="">
                    </a>
                </div>
                <!-- footer mid -->
                <!-- footer right -->
                <div class="footer__right col col-4">
                    <h3 class="t-16 mb-10">Liên kết nhanh</h3>
                    <ul class="mb-56 footer__right-list menu-list">
                        <li class="t-14 footer__right-item menu-item current-menu-item"><a class="footer__right-link"
                                href="home">Trang chủ</a></li>
                        <li class="t-14 footer__right-item menu-item"><a class="footer__right-link" href="">Về chúng
                                tôi</a></li>
                        <li class="t-14 footer__right-item menu-item"><a class="footer__right-link" href="">Dự án</a>
                        </li>
                        <li class="t-14 footer__right-item menu-item"><a class="footer__right-link" href="">Hợp tác</a>
                        </li>
                        <li class="t-14 footer__right-item menu-item"><a class="footer__right-link" href="">Tuyển
                                dụng</a></li>
                        <li class="t-14 footer__right-item menu-item"><a class="footer__right-link" href="">Tin tức</a>
                        </li>
                    </ul>
                    <div class="footer__forms">
                        <h3 class="t-16 mb-10">Đăng ký nhận tin</h3>
                        <div class="footer__form">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Nhập E-mail của bạn">
                            <a href="#" class="sendEmail"><i class="fa-solid fa-paper-plane"></i></a>
                        </div>
                    </div>
                </div>
                <!-- footer right -->

            </div>
        </div>
        <!-- copy right -->
        <div class="copy__right container">
            <div class="mona-design">
                <div class="mona-detail">
                    Thiết kế bởi
                    <a href="#">
                        <img src="./assets/images/footer/logomona.png" alt="">
                    </a>
                    <span>MONA .Media</span>
                </div>
                <span class="line1">/</span>
                <div class="mona-share">
                    <span>Website</span>
                    <a href="#">
                        <img src="./assets/images/footer/share.png" alt="">

                    </a>
                </div>
            </div>
        </div>
        <!-- copy right -->
    </footer>
    <!-- footer -->
    <!-- back to top -->
    <div class="back-to-top backToTop button-pulse">
        <i class="fa-solid fa-up-long"></i>
    </div>
    <!-- back to top -->

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/owlcarousel/owl.carousel.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>