@font-face {
    font-family: 'Tahu!';
    src: url('Tahu.woff2') format('woff2'),
        url('Tahu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

