.main{
  overflow: hidden;
}
.card__list {
  .card__item {
    border-radius: 1.6rem;

    @include max(900px) {
      width: 50%;

      @include max(575px) {
        width: 100%;
      }
    }

    .card__link-img {
      width: 100%;
      display: flex;
      overflow: hidden;

      .card__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .5s ease all;

        &:hover {
          transform: scale(1.1);
          transition: .5s ease all;
        }
      }
    }

    .card__body {
      font-family: 'Montserrat';
      padding: 1.5rem;
      position: relative;
      background-color: $color-white;
      border-bottom-right-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .card__time {
        color: $color-white;
        background-color: $color-pri;
        position: absolute;
        right: calc(5% + 1rem);
        top: -15%;
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;

        @include max(300px) {
          display: none;
        }
      }
      .card__numbersRecruitments{
        color: $color-white;
        background-color: $color-pri;
        position: absolute;
        right: calc(5% + 1rem);
        top: -15%;
        padding: 1rem 1.5rem;
        text-align: center;
        border-radius: 1rem;

        @include max(300px) {
          display: none;
        }
      }
      .card__body-top {
        @include flex;
        gap: 1rem;
        margin: 1rem 0;

        .card-text {
          color: $color-text-second;
          @include fz-14;
          font-weight: 500;
          line-height: 171%;
        }

        svg {
          color: $color-pri;
        }

        .card__body-name {
          @include flex;
          gap: 1.5rem;
          align-items: center;
        }

        .card__body-tag {
          @include flex;
          gap: .5rem;
          align-items: center;
        }

      }

      .card__body-detail {
        .card__body-title {
          color: $color-text-second;
          margin: 1rem 0;
          @include fz-20;
          font-weight: 700;
          line-height: 140%;
          /* 28px */
        }

        .card__body-text {
          font-weight: 500;
          line-height: 140%;
          /* 19.6px */
          @include fz-14;
          color: $color-text-four;
        }
      }

      .card__body-line {
        background-color: $color-text-five;
        width: 100%;
        height: 1px;
        margin: 2rem 0;
      }

      .card__body-more {
        @include flex;
        align-items: center;
        color: $color-pri;

        .btn-icon {
          height: 1.3rem;
          width: 1.3rem;
          @include mid-flex;
          margin-right: 1rem;
          border-radius: 50%;
          transition: .5s ease;
          background-color: $color-pri;
          border: 1px solid $color-pri;
          color: $color-white;
          @include fz-9;

          &:hover {
            color: $color-pri;
            background-color: $color-white;
            transition: .5s ease;
          }
        }
      }
    }

    .card__body {
      .card__position {
        color: $color-text-third;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.07px;
        display: inline-flex;
        padding: .6rem 2.4rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: .8rem;
        background: $color-six;
      }

      .card__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        color: $color-black;
      }

      .card__timeLocation {
        color: $color-text-four;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        b {
          font-weight: 600;
          color: $color-text-third;
        }
      }
    }
  }
}
.detail-imgUsed{
  position: absolute;
  width: 7rem;
  img{
    width: 100%;
    object-fit: cover;
  }
  
}
.contact{
  .listTitle-used{
    .detail-heart{
      left: -10rem;
      top: -1rem;
    }
    .detail-like{
      right: -10rem;
      bottom: -10rem;
    }
  }
}
.cardSwiper {
  padding: 2rem;

  .swiper-wrapper {}

  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: '';
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-slide {
    flex: 0 0 auto;
    // padding: 0 2rem; /* Khoảng cách giữa các slide */
  }
}
.btn-used-slide {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  @include mid-flex;
  overflow: hidden;
  color: $color-white;
  background-color: $color-pri;
  border: 1px solid $color-pri;
  transition: .3s ease;
  font-size: 1.4rem;
  @include affter($color-white);
@include max(500px){
  width: 3rem;
  height: 3rem;
}
  &:after {
    z-index: -1;
  }

  @include hover {
    transition: .3s ease;
    color: $color-pri;
    background-color: $color-white;

    &::after {
      transition: .3s ease;
      left: 0;
      width: 100%;
    }
  }
}

.btn-viewAll {
  color: $color-white;
  display: inline-flex;
  padding: 1.2rem 3.6rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3.8rem;
        z-index: 1;
  transition: .3s ease;
  position: relative;
  @include affter($color-white);
  &.btn-pri {
    border: 1px solid $color-pri;
    background-color: $color-pri;
    @include hover {
      transition: .3s ease;
      background-color: $color-white;
      color: $color-pri;
      &::after {
        transition: .3s ease;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }

  }

  &.btn-second {
    border: 1px solid $color-third;
    background-color: $color-third;
  @include affter($color-white);

    @include hover {
      transition: .3s ease;
      background-color: $color-white;
      color: $color-third;
      &::after {
        transition: .3s ease;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }

  }
}

.poster {
  @include flex;
  background: var(--gra-2, linear-gradient(180deg, #FFBF8B 0%, #F58021 100%));
  height: auto;
  @include max(816px){
    flex-wrap: wrap;
  }
  .slogan {
    padding: 5rem 2rem;
    text-align: center;
    @include mid-flex;
    margin: auto;
    flex-direction: column;
    color: $color-white;
    width: 40%;
    @include max(1005px){
    padding: 3rem 2rem;
      @include max(816px){
        padding-top: 3rem;
        width: 80%;
        padding-bottom: 0;
      }
    }
    .t-title-third{
      color: $color-white;
      @include max(895px){
        @include fz-22;
      }
    }

    .slogan__img {
      width: 12rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .poster__right {
    width: 60%;
    @include max(816px){
      width: 100%;
    }
    .poster__img {
    position: relative;
      @include flex;
      height: 100%;
      // @include max(800px){
      //   width: 80%;
      //   margin: auto;
      // }
      .poster-human {
        z-index: 2;
        position: absolute;
        width: 60%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -1.5rem;
        @include max(816px){
          position: relative;
        width: 80%;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .poster-line{
      width: 55%;
      height: 100%;
      @include max(816px){
        display: none;
      }
    }
    .btncol{
      width: 30%;
      position: relative;
    }
    .btn-post {
      position: absolute;
      padding: 2rem 3rem;
      border-radius: 1.2rem;
      background-color: $color-pri;
      color: $color-white;
      z-index: 1;
      @include max(1200px){
        padding: 1.5rem 2rem;

        @include max(993px){
          font-size: 1rem;
          @include max(470px){
            font-size: .8rem;
        padding: 1rem 1.5rem;
          }
        }
      }
      &1{
        bottom: 0;
        right: -3rem;
        transform: rotate(-10deg);
        @include max(816px){
          bottom: 0;
          right: -7.5rem;
          @include max(600px){
            bottom: 0;
            right: -5.5rem;
            @include max(470px){
              bottom: 0;
              right: -4rem;
            }
          }
        }
      }
      &2{
        bottom: 40%;
        transform: rotate(15deg);
        @include max(816px){
          left: -4rem;
          @include max(470px){
            left: -2rem;

          }
        }
      }
      // &1 {
      //   transform: translate( 30% , 300%) rotate(-10deg);
      //   @include max(1200px){
      //   transform: translate( 40% , 300%) rotate(-10deg);
      //     @include max(1118px){
      //   transform: translate( 30% , 400%) rotate(-10deg);

      //       @include max(993px){
      //         transform: translate( 30% , 400%) rotate(-10deg);
      //         @include max(895px){
      //           transform: translate( 30% , 300%) rotate(-10deg);
      //           @include max(813px){
      //           transform: translate( 120% , 650%) rotate(-10deg);
      //           @include max(753px){
      //             transform: translate( 11rem , 11rem) rotate(-10deg);

      //             }
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
      // &2 {
      //   transform: translate( -10% , 100%) rotate(15deg);
      //   @include max(1200px){
      //     transform: translate( -10% ,100%) rotate(15deg);
      //     @include max(1118px){
      //       transform: translate( -5% , 150%) rotate(15deg);
      //       @include max(895px){
      //         transform: translate( -5% , 50%) rotate(15deg);
      //         @include max(813px){
      //           transform: translate( -35% , 350%) rotate(15deg);

      //         }
      //       }

      //     }
      //   }
      // }
      &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $color-white;
      border-radius: 1.2rem;
      left: -.5rem;
      bottom: -.5rem;
      z-index: -2;
      }
      &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $color-pri;
      border-radius: 1.2rem;
      left: 0;
      bottom: 0;
      z-index: -1;
      }
    }
  }
}

// search

.search-body {
  position: relative;

  .search-main {
    transition: .3s ease all;
    transform: translateX(180px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 1rem;
    width: 20rem;
    z-index: 101;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 0;
    top: calc(100% + 1rem);

    &.active {
      transition: .3s ease all;
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    .search-inputMoblie {
      padding: 1rem;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $color-pri;
      outline: none;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
      &::-ms-clear,
      &::-moz-clear {
        display: none;
      }
    }

    svg {
      position: absolute;
      right: 5%;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:hover {
      svg {
        color: $color-pri !important;
      }
    }
  }

}

.t-title {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.t-title-second {
  color: $color-text-third;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}

.t-title-third {
  color: $color-text-second;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 41.6px */
  letter-spacing: 0.16px;
}

.t-title-four {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.t-14 {
  @include fz-14;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: 0.07px;
  font-family: 'Montserrat';
}

.t-16 {
  @include fz-16;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.16px;
  font-family: 'Montserrat';
}

.t-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 200%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social {
  @include flex;
  gap: 1rem;

  .social-item {
    @include mid-flex;
    width: 2.4rem;
    height: 2.4rem;

    .social-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.listTitle-used{
  @include mid-flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  .used-title1{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: .5rem;
      height: .5rem;
      background-color: $color-black;
      left: -1rem;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .used-title2{
    color: $color-pri;
  }
  .used-text{
    width: 80%;
  }
}
.circle-body{
  .circle{
    @include mid-flex;
    width: 55%;
    padding-top: 55%;
    margin: auto;
    position: relative;
    @include max(800px){
      display: none;
    }
    .circle-list{
      z-index: 1;
      height: 80%;
      width: 80%;
      border-radius: 50%;
      border: .4rem dashed $color-pri;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .circle-item{
        position: absolute;
        width: 20%;
          height: 20%;
          padding-bottom: 20%; /* Tạo chiều cao bằng 50% chiều rộng */
        background-color: $color-pri;
        border-radius: 50%;
        @include mid-flex;
        .circle-text{
          word-wrap:break-word;
          position: absolute;
          top: 50%;
          width: 300%;
          transform: translateY(-50%);
          @include fz-24;
          font-weight: 700;
          line-height: 130%; /* 31.2px */
          @include max(1200px){
            display: block;
            display: -webkit-box;
            max-width: 300%;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .circle-img{
          @include mid-flex;
          width: 60%;
          height: 60%;
          // padding-top: 60%;
          margin-top: 100%;
          img{
            max-width: 100%;
            object-fit: contain;
            // display: none;
          }
        }
      }
    }
    .circle-itemMain{
      position: absolute;
      width: 55%;
      height: 55%;
      top: 39%;
      left: 50%;
      transform: translate(-50%, -50%);
      img{
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .circleCol{
    @include min(801px){
      display: none;
    }
    .circleCol-list{

      .circleCol-item{
        // @include mid-flex;
        // gap: 1rem;
        text-align: center;
        @include max(600px){
          width: 50%;
        }
      .circleCol-img{
        @include mid-flex;
        padding: 1rem 0;
        background-color: $color-pri;
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        img{
          object-fit: cover;
          width: 50%;
        }
      }
      }
    }
  }
  .circleRow{
    @include min(801px){
      display: none;
    }
    .circleRow-main{
      position: relative;
      @include flex;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 2rem;
      .circleRow-img{
        width: 30%;
        img{
        position: absolute;
        width: 35%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        object-fit: cover;
        }
      }
      .circleRow-mainRight,
      .circleRow-mainLeft{
        width: 35%;
        margin-top: 7%;
        img{
        object-position: center;
        height: 100%;
        }
      }
    }
    .circleRow-list{
      .circleRow-item{
        @include mid-flex;
        .circleRow-img{
          padding: 1rem 0;
          @include mid-flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 35%;
        margin-right: 1rem;
        img{
          object-fit: cover;
          width: 56%;
        }
        }
        .circleRow-text{
          width: 65%;
        }
      }
    }
  }
}
.img-decorUsed{
  @include mid-flex;
  width: 7rem;
  height: 6rem;
  position: absolute;
  img{
    object-fit: contain;
  }
}
.imgshare{
  &Small{
    img{
      width: 80% !important;
      height: 80% !important;
    }
  }
}